.space {
     margin: 30px;
}

body {
     color: white;
     background-color: #232323;
}

.form-control {
     max-width: 450px;
     margin-left: 30px;
}

.input-group-append {
     margin-right: 30px;
}

.clear-btn {
     margin: 25px 30px;
}

.date {
     margin-bottom: 20px;
     margin-left: 30px;
}

.notes {
     margin: 0px 30px;
     font-size: 17px;
}